<div class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" style="padding: 2vh 3vh;">
        <h5 class="card-title" style="padding: 5px 8px;text-transform: uppercase;">
          Aprobacion de subasta
          <i class="fas fa-spinner loading ml-3" *ngIf="preload==true"></i>
        </h5>
        <div class="row">
          <div class="col-sm-4">
            <label>Ganadero <small>( * )</small></label>
            <input class="form-control" type="text" placeholder="Ganadero" [(ngModel)]="ganadero" disabled>
          </div>
          <div class="col-sm-2">
            <label>Nro. de cedula <small>( * )</small></label>
            <input class="form-control" type="text" placeholder="Número de cedula" [(ngModel)]="nroCedula" disabled>
          </div>
          <div class="col-sm-2">
            <label>Procedencia <small>( * )</small></label>
            <select class="form-control" [(ngModel)]="procedencia">
              <option *ngFor="let option of listProcedencia" [(ngValue)]="option.municipio">{{option.municipio}}
              </option>
            </select>
          </div>
          <div class="col-sm-2">
            <label>Fecha <small>( * )</small></label>
            <input readonly class="form-control" type="text" placeholder="dd/mm/yyyy" bsDatepicker [bsConfig]="bsConfig"
              [(ngModel)]="fecha">
          </div>
          <div class="col-sm-2">
            <label>Grupo <small>( * )</small></label>
            <select name="Grupo" [(ngModel)]="grupoSexo" class="form-control">
              <option [(ngValue)]="option.ABREVIATURA" *ngFor="let option of listSexoGrupo">{{option.ABREVIATURA}}
              </option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-2">
            <label>Cantidad <small>( * )</small></label>
            <input class="form-control" type="number" min="0" placeholder="0" [(ngModel)]="cantidad"
              (keyup)="calcularPesoTotal()">
          </div>
          <div class="col-sm-2">
            <label>Peso promedio <small>( * )</small></label>
            <input class="form-control" type="number" step="0.1" min="0" placeholder="0.00" [(ngModel)]="pesoPromedio"
              (keyup)="calcularPesoTotal()">
          </div>
          <div class="col-sm-2">
            <label>Peso Total <small>( * )</small></label>
            <input class="form-control" type="number" disabled placeholder="0.00" [(ngModel)]="pesoTotal">
          </div>
          <div class="col-sm-2">
            <label>Valor por kg <small>( * )</small></label>
            <input class="form-control" type="number" step="0.1" min="0" placeholder="0.00" [(ngModel)]="valorPorKilo">
          </div>
          <div class="col-sm-4">
            <label>Url Video <small *ngIf="estado==2">( * )</small></label>
            <input class="form-control" type="text" placeholder="url del video" [(ngModel)]="urlVideo">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-2" style="display: block !important;">
            <label style="display: flex;width:100% !important">Video</label>
            <a type="button" class="btn btn-primary form-control" [href]="urlDescargarVideo" [download]="['videoganado.mp4']">
              <i class="fas fa-download mr-2"></i>
              Descargar
            </a>
          </div>
          <div class="col-sm-2" style="display: block !important;">
            <label style="display: flex;width:100% !important">Imagen de portada</label>
            <button class="btn btn-primary form-control" (click)="verImagen(modalImagen)">
              <i class="fas fa-images mr-2"></i>
              Ver imagen
            </button>
          </div>
          <div class="col-sm-2">
            <label>Estado <small>( * )</small></label>
            <select class="form-control" [(ngModel)]="estado" name="estado">
              <option value="">--seleccionar--</option>
              <option *ngFor="let option of listEstado" [(ngValue)]="option.IDENT_CAMPO">{{option.CODL_CAMPO}}</option>
            </select>
          </div>
          <div class="col-sm-4" *ngIf="estado==3">
            <label>Observaciones:</label>
            <input class="form-control" type="text" placeholder="Observaciones" [(ngModel)]="observaciones">
          </div>
        </div>
      </div>
      <div class="card-footer"
        style="background-color: transparent !important;padding: 3vh;border-style: none;display: flex;justify-content: flex-end;align-items: center;">
        <button class="btn btn-primary mr-3" (click)="guardarData()">
          <i class="fas fa-spinner loading mr-2" style="color: white;" *ngIf="preloadSave==true"></i>
          Guardar
        </button>
        <button class="btn btn-danger" [routerLink]="['/pages/aprobadorDeSubasta/']">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #modalImagen>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Imagen de portada</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <img src="{{urlImagen}}" alt="imagen de portada" style="height: 350px;width: 100%;">
      </div>
    </div>
  </div>
</ng-template>