.loading {
  animation: loading 200ms ease-in-out infinite;
  font-size: 15px;
  color: blue;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
