/* You can add global styles to this file, and also import other style files */
.btn-documento.active {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}

.bg-login-image-nexus {
  background: url("assets/img/satelital/toroFondo.png");
  background-position: center;
  background-size: cover;
}

.pointer {
  cursor: pointer;
}

.td-table {
  padding-top: 18px !important;
}

.span-table {
  padding: 10px;
}
