<div class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="card pl-2 pr-2">
      <div class="card-body">
        <h5 class="card-title" style="padding: 10px 8px;text-transform: uppercase;"> Subastas</h5>
        <!-- <div class="row">
          <div class="col-sm-4" style="display: flex;position:relative;">
            <input class="form-control" type="text" placeholder="Buscar" style="padding-right: 115px;">
            <button type="button" class="btn btn-primary"
              style="display:flex;align-items: center;position:absolute;right:15px;top:0px;border-radius:0px 3px 3px 0px;">
              <i class="fas fa-search mr-2"></i>
              Buscar
            </button>
          </div>
        </div> -->
        <div class="row">
          <div class="col-sm-12" style="display: flex;justify-content: flex-start;align-items:center">
            <label class="mr-2">Ver</label>
            <select name="n_cantidad" class="form-control" style="max-width: 100px;" [(ngModel)]="nRegistros"
              (change)="getFullGanado()">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <label class="ml-2">registros</label>
          </div>
        </div>
        <hr>
        <div class="row" style="position:relative">
          <div class="preload" *ngIf="preload==true">
            <i class="fas fa-spinner loading mr-3"></i>
            cargando...
          </div>
          <div class="col-sm-12" style="overflow: auto;">
            <table class="table table-hover">
              <thead class="bg-primary" style="color:white;">
                <th scope="col">Orden</th>
                <th scope="col">Url Archivo</th>
                <th scope="col">url Imagen</th>
                <th scope="col">Video Youtube</th>
                <th scope="col">Nombres</th>
                <th scope="col">Correo</th>
                <th scope="col">Sexo</th>
                <th scope="col">Procedencia</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Peso total</th>
                <th scope="col">Peso promedio</th>
                <th scope="col">Precio Base</th>
                <th scope="col">Observaciones</th>
                <th scope="col"></th>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaGanado | paginate:{itemsPerPage:nRegistros, currentPage: paginaActual}">
                  <td>{{item.Orden}}</td>
                  <td>{{item.urlArchivo}}</td>
                  <td>{{item.urlArchivoImagen}}</td>
                  <td>{{item.videoYoutube}}</td>
                  <td>{{item.Nombres}}</td>
                  <td>{{item.Correo}}</td>
                  <td>{{item.Sexo}}</td>
                  <td>{{item.Procedencia}}</td>
                  <td>{{item.Cantidad}}</td>
                  <td>{{item.Peso_total }}</td>
                  <td>{{item.Peso_promedio}}</td>
                  <td>{{item.precioBase}}</td>
                  <td>{{item.Observaciones}}</td>
                  <td>
                    <button class="btn btn-primary"
                      [routerLink]="['/pages/aprobadorDeSubasta/editar/'+item.IdGanadero]">
                      <i class="fas fa-pen-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12 float-right">
            <pagination-controls (pageChange)="paginaActual = $event" maxSize="10"
              style=" color:darkblue ; font-size: 16px;"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>