.loading{
    animation:cargar 250ms ease-in infinite;
}
.preload{
    width:100%;
    height:100%;
    min-height: 250px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:22px;
    position:absolute;
    top:0px;
    left:0px;
    background-color:white;
    opacity: 0.9;
    z-index:4;
}
@keyframes cargar {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}