<div id="wrapper">
  <app-sidebar></app-sidebar>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-navbar></app-navbar>
      <div class="container-fluid" style="overflow-y:auto; height:calc(100vh - 100px);padding:0px 20px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
