<div class="container animated fadeIn">

  <!-- Outer Row -->
  <div class="row justify-content-center" style="margin-top: 10%">

    <div class="col-xl-10 col-lg-12 col-md-9" >

      <div class="card o-hidden border-0 shadow-lg my-5" style="border-radius: 5px;">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image-nexus">
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">TORO</h1>
                </div>
                <form ngNativeValidate #formLogin="ngForm" (ngSubmit)="login(formLogin)" class="user">
                  <div class="form-group">
                    <input ngModel required name="email" type="email" class="form-control form-control-user"
                      aria-describedby="emailHelp" placeholder="Ingresar Email">
                  </div>
                  <div class="form-group">
                    <input ngModel required name="password" type="password" class="form-control form-control-user"
                      id="exampleInputPassword" placeholder="Ingresar Contraseña">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <!-- <label class="custom-control-label" for="customCheck">Remember Me</label> -->
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    <i class="fas fa-user"></i>
                    Login
                  </button>
                </form>
                <hr>
                <div class="text-center">
                  <p>Power by Nexus Virtual</p>
                </div>
                <!-- <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>