<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
    <div class="sidebar-brand-icon">
      <img width="50" class="img-profile" src="assets/img/satelital/toro.png">
    </div>
    <div class="sidebar-brand-text mx-3">Toro</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Heading -->
  <br>
  <div class="sidebar-heading">
    Toro App
  </div>

  <div>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/pages/aprobadorDeSubasta">
        <i class="fas fa-gavel"></i>
        <span>Aprobador de subasta</span></a>
    </li>
  </div>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>